extends ../layout/index

block contenido
    div.h-screen
        include ../layout/header 
        main(class="w-1/3").flex.flex-col.items-center.justify-center.shadow.rounded.h-96.m-auto
            img(src=imagen, alt="").w-32
            .mt-10.mb-5
                h2.text-3xl.text-hard-gray.text-center.font-bold= pagina
                p(class= error ? 'bg-red-500' : 'bg-green-500').text-secondary-gray.text-white.rounded.text-center.mt-4= mensaje
        if !error 
            a(href="/auth/login" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block") Ya puedes Iniciar Sesión