extends ../layout/index

block contenido
    div.flex.h-screen
        div(class="w-1/2 grid place-content-center") 
            main.flex.items-center.flex-col.mx-24
                .mt-10.mb-5
                    h2.text-3xl.text-hard-gray.text-center Bienvenido a 
                        span.font-bold Fotaza
                    p.text-xl.text-secondary-gray.mt-2 Busca las imagenes mas hermosas

                if(errUserLogin)
                    div(role="alert").bg-red-100.border.border-red-400.text-red-700.px-4.py-3.relative.w-full
                        strong.font-bold Ooops! 
                        span(class="block sm:inline")= errUserLogin
                        span.absolute.top-0.bottom-0.right-0.px-4.py-3
                            img(id="btnCloseAlert" src="/img/project/close.svg" alt="Close" class="fill-current h-6 w-6 text-red-500" role="button")

                form(method="POST").w-full
                    input(type="hidden" name="_csrf" value= csrfToken)
                    .inputs.flex.flex-col.justify-evenly.h-52
                        .input 
                            label.block
                            span(class="block text-sm font-medium text-slate-700") Email
                            input(type="email" name="email" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" placeholder="you@example.com" value= user ? user.email : '')
                            +getErrorMsg('email')
                        .input 
                            label.block
                            span(class="block text-sm font-medium text-slate-700") Contraseña
                            input(type="password" name="password" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" placeholder="********")
                            +getErrorMsg('password')
                        a(href="/auth/recover-password").ml-auto.text-principal-gray Olvide mi contraseña

                    .btns.w-full.mt-10    
                        button(class="bg-principal-gray text-white py-3 px-4 w-full mb-4").w-full Iniciar Sesion
                        
                        a(href="/auth/google" class="border-2 border-principal-gray text-principal-gray w-full py-3 px-4 inline-flex items-center")
                            img(src="/img/project/google.svg", alt="").w-6.mr-2
                            span.w-full Iniciar Sesion con Google

                .w-64.flex.justify-between.mt-10 
                    p No tienes una cuenta?
                    a(href="/auth/signup").font-bold Registrate
        
        aside(class="w-1/2 bg-cover bg-center bg-no-repeat" style=`background-image: url(${imageUrl})`)
            //p(class="absolute bottom-8 right-8 text-white") Fotografía de 
                span.font-bold= nameUserPhoto
                
block scripts 
    script(src='/js/closeAlert.js')