extends ../layout/index

block contenido
    div.flex.h-screen
        div(class="w-1/2") 
            include ../layout/header 
            main.flex.items-center.flex-col.mx-24
                .mt-10.mb-5
                    h2.text-3xl.text-hard-gray.text-center ¿Olvidaste tu contraseña?
                    p.text-xl.text-secondary-gray.mt-2 No te preocupes, sigue las instrucciones

                form(method="POST" action="").w-full
                    .inputs.flex.flex-col.justify-evenly.h-40
                        .input 
                            label.block
                            span(class="block text-sm font-medium text-slate-700") Email
                            input(type="email" name="email" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-hard-gray focus:ring-hard-gray block w-full sm:text-sm focus:ring-1" placeholder="you@example.com" value= user? user.email:'')
                            if errores
                                each error in errores 
                                    span.text-red-500.text-xs= error.msg
                    .btns.w-full.mt-2    
                        button(class="bg-principal-gray text-white py-3 px-4 w-full mb-4").w-full Recuperar Contraseña
        
        aside(class="w-1/2 bg-cover bg-center bg-no-repeat" style=`background-image: url(${imageUrl})`)
            p(class="absolute bottom-8 right-8 text-white") Fotografía de 
                span.font-bold= nameUserPhoto

