extends ../layout/index

block contenido
    div.flex.h-screen
        div(class="w-1/2 grid place-content-center") 
            main.flex.flex-col.mx-24
                .mt-10.mb-5
                    h2.text-5xl.text-hard-gray Crear una Cuenta
                    p.text-xl.text-secondary-gray.mt-2 Escribe tus datos para registrarte
                form(method="POST" action="").w-full.mt-8
                    input(type="hidden" name="_csrf" value= csrfToken)
                    .inputs.flex.flex-col.justify-evenly.h-52
                        .flex.justify-between 
                            div(class="w-1/2").input.mr-4 
                                label.block
                                    span(class="block text-base font-medium text-slate-700") Nombre
                                input(type="text" name="name" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" placeholder="Tu nombre" value= user? user.name:'')
                                +getErrorMsg('name')
                            div(class="w-1/2").input 
                                label.block
                                    span(class="block text-base font-medium text-slate-700") Apellido
                                input(type="text" name="lastname" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" placeholder="Tu apellido" value= user? user.lastname:'')
                                +getErrorMsg('lastname')
                        .input
                            label.block.mt-2
                                span(class="block text-base font-medium text-slate-700") Email
                            input(type="email" name="email" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" placeholder="you@example.com" value= user? user.email:'')
                            +getErrorMsg('email')
                            span(class="text-sm text-red-600")= errEmail ? errEmail : ''
                        .input 
                            label.block.mt-2
                                span(class="block text-base font-medium text-slate-700") Contraseña
                            input(type="password" name="password" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" placeholder="********")
                            +getErrorMsg('password')

                    .btns.w-full.mt-14    
                        button(class="bg-principal-gray text-white py-3 px-4 w-full mb-4").w-full Crear Cuenta
                        
                        a(href="/auth/google" class="border-2 border-principal-gray text-principal-gray w-full py-3 px-4 inline-flex items-center")
                            img(src="/img/project/google.svg", alt="").w-6.mr-2
                            span.w-full Continuar con Google

                .w-72.flex.justify-between.mt-10.px-2.m-auto
                    p Ya tienes una cuenta?
                    a(href="/auth/login").font-bold Inicia Sesion
        
        aside(class="w-1/2 bg-cover bg-center bg-no-repeat" style=`background-image: url(${imageUrl})`)
            //p(class="absolute bottom-8 right-8 text-white") Fotografía de 
                span.font-bold= nameUserPhoto

