extends ../layout/index

block styles 
    meta(name="csrf-token" content= csrfToken)
block contenido
    include ../layout/header

    main.bg-polished-white.h-screen.pt-10.h-full
        div(class="w-3/6 rounded-md shadow-md m-auto p-4 bg-white md:px-16")
            h1(class="text-center text-2xl mt-4 mb-8 font-bold") Crear una nueva publicación 
            form(id="form" action="/publications/add-image" method="POST" enctype="multipart/form-data") 
                
                div(class="border-dashed border-2 w-full h-40 rounded flex items-center pl-4 bg-polished-white")
                    input(type="file" name="image" id="file")
                    div(class="preview w-1/2 h-full p-3 flex justify-center")
                        img(id="image" class="h-full float-right border-2 border-principal-gray rounded-md")
                span(id="errImage").text-red-500.text-xs.hidden

                div.px-6.flex.flex-col.gap-4.mt-8
                    input(id="title" type="text" name="title" placeholder="Agrega un titulo" class="border-b-2 border-secondary-gray text-xl focus:outline-none pb-1 pl-3 m-auto w-full")
                    span(id="errTitle").text-red-500.text-xs.hidden

                    div 
                        label(for="category") Categoría
                        select(id="categories" name="category" class="block w-64 h-10 rounded-md pl-4")
                            option(value="") - Seleccionar - 
                            each category in categories 
                                option(value= category.id)= category.name
                        span(id="errCategory").text-red-500.text-xs.hidden

                    div 
                        label(for="tags") Etiquetas 
                        input(id="tags" type="text" placeholder="Ingrese sus etiquetas ( separalas con espacio )" class="block w-full border border-secondary-gray rounded-md py-1.5 pl-4 focus:outline-none")

                div.flex.justify-between.items-center.mt-10.relative
                    div 
                        select#rightsOfUse(name="rightsOfUse" class="bg-principal-gray text-white py-2 px-4  font-normal text-sm").w-full
                            each right in rightsOfUse 
                                option(value= right.id)= right.name
                    span(id="errRightOfUse").text-red-500.text-xs.hidden.absolute.top-7.mt-3

                    button#btnSave(type="submit" class="bg-principal-gray text-white font-normal mr-2")
                        .my-3.mx-4.flex.justify-between
                            span.w-full.text-white.font-bold Subir
                            img(src="/img/project/upload.svg", alt="").w-6.ml-4


block scripts
    script(src="/js/addPublication.js")