.star{
    font-size: 30px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.starGeneral{
    font-size: 30px;
    color: #bbb;
}

.star:hover,
.star.checked,
.starGeneral.checked,
.starGeneral.halfStar 
{
    color: gold;
}


.halfStar:before {
    content: "\f089";
    position: absolute;
    width: 50%;
    overflow: hidden;
    color: gold;
  }