mixin getErrorMsg( inputName )
    if errores
        each error in errores
            if error.path == inputName
                span.text-red-500.text-xs= error.msg

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fotaza
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-polished-white
        block contenido

        block scripts 
        