extends ../../layout/index

block styles 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer")

block contenido
    include ../../layout/header

    main(class="px-6 py-10 lg:flex 2xl:justify-center") 
        //- Este aside debo pasarlo a otro archivo ya que lo usare en otra parte tambien
        aside(class="bg-white mb-4 lg:mb-0 shadow-2xl lg:w-1/4 h-fit")
            h1(class="border-principal-gray border-b-2 font-semibold text-xl p-4") Editar perfil 
            a(href="/users/account") 
                div(class="text-lg p-4 group") 
                    span(class="group-hover:underline") Informacion personal
            a(href="/users/account/password") 
                div(class="bg-gray-300 text-lg p-4 group")  
                    span(class="group-hover:underline") Cambiar contraseña
        
        section(class="bg-white shadow-2xl lg:w-3/4 lg:ml-6 px-2 max-w-4xl")
            div(class="w-full text-center p-4 sm:text-left")
                i(class="fa-solid fa-lock text-blue-500 text-7xl bg-blue-100 py-6 px-8 rounded-full sm:text-3xl sm:px-6")
            div
                h2(class="text-3xl text-principal-gray") Cambiar contraseña
                p(class="text-lg text-secondary-gray") Por favor ingresa la contraseña actual de tu cuenta

            form(method="POST" action=`` class="py-2") 
                input(type="hidden" name="_csrf" value=csrfToken)

                .input(class="pt-4 pb-8") 
                    label.block
                        span(class="block font-medium text-slate-700") Contraseña
                    input(type="password" name="password" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-hard-gray focus:ring-hard-gray block w-full sm:text-sm focus:ring-1" placeholder="********")
                    if error
                        span.text-red-500.text-xs= error.msg

                button(class="bg-principal-gray text-white py-3 px-4 w-full mb-4").w-full Cambiar Contraseña
                

block scripts
    script(src="https://kit.fontawesome.com/e6a1497caa.js" crossorigin="anonymous")
    if save
        script(src="/js/alertAccount.js") 

    script(src="/js/picturesAccount.js") 
    script(src="/js/coverAccount.js") 
